header.jumbotron
  .container.title
    h2 Fang Jie Yu
    p grace963214789@gmail.com
    
    
section.intro
  .container
    .row
      .col-md-8.col-pic
        h4.section-subheading Education
        h5.section-context MA in Computer and Communicating Engineering (2018-present)
        h5.section-context.text-muted National Cheng Kong University, Taiwan
        p
        
        h5.section-context BA in Biomedical Engineering (2014-2018)
        h5.section-context.text-muted National Cheng Kong University, Taiwan
        h4.section-subheading Research Interests
        h5.section-context.text-muted Big Data Mining and Analytics
        h5.section-context.text-muted Urban Science and Computing
        h5.section-context.text-muted Spatial-Temporal Information Computing
        h5.section-context.text-muted Web Design ( Front-end Development )
        h4.section-subheading Programing Languages
        h5.section-context.text-muted Python / C# / html / css / javascript
        
      .col-md-4
        img(src="https://live.staticflickr.com/65535/49418170781_8412d2fbc1_k.jpg", alt="")
        
    //.row
      .col-md-12
        h2.section-subheading Personal Statement
        h5.section-context.text-muted Then came the night of the first falling star.
        
        

section.ask
  .container-fluid
    .row
      .col-md-12
        h5.section-subheading Contacts
        .icon.text-center
          .box.text-left
            i.fa.fa-address-card
            span Tainan, Taiwan <br>
            i.fa.fa-user 
            span Fang Jie Yu <br>
            i.fa.fa-phone 
            span grace963214789@gmail.com <br>